<div class="flex flex-row justify-center items-center gap-2 mt-2">
    <a routerLink="app1" class="hover:text-blue-500 hover:underline">App 1</a> | 
    <a routerLink="app2" class="hover:text-blue-500 hover:underline">App 2</a> | 
    <a routerLink="demo-image" class="hover:text-blue-500 hover:underline">Demo Image</a> |
    <a routerLink="demo-contact" class="hover:text-blue-500 hover:underline">Demo Contact</a> |
    <a routerLink="demo-security" class="hover:text-blue-500 hover:underline">Demo Security</a>
</div>