<div class="flex flex-row justify-center items-center gap-2 mt-2">
    <a routerLink="app1" class="hover:text-blue-500 hover:underline">App 1</a> | 
    <a routerLink="app2" class="hover:text-blue-500 hover:underline">App 2</a> | 
    <a routerLink="demos/image" class="hover:text-blue-500 hover:underline">Demo Image</a> |
    <a routerLink="demos/contact" class="hover:text-blue-500 hover:underline">Demo Contact</a> |
    <a routerLink="demos/security" class="hover:text-blue-500 hover:underline">Demo Security</a> |
    <a routerLink="demos/table" class="hover:text-blue-500 hover:underline">Demo Table</a> |
    <a *ngIf="!isLogin" routerLink="login" class="hover:text-blue-500 hover:underline">Login</a>
    <a *ngIf="isLogin" class="hover:text-blue-500 hover:underline hover:cursor-pointer" (click)="HandleLogout()">Logout</a>
</div>