<lib-menu *ngIf="!isHiddenMenu" [menus]="menus"></lib-menu>
<app-nav [isLogin]="isLogin"></app-nav>
<div *ngIf="menuType === 'side'" class="drawer lg:drawer-open">
    <input id="my-drawer-1" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center p-4">
        <router-outlet></router-outlet>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-1" aria-label="close sidebar" class="drawer-overlay"></label> 
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
        <li *ngFor="let menu of menuSides; let i = index">
            <a *ngIf="!menu.subChild && menu.link" [routerLink]="menu.link">{{ menu.text }}</a>
            <a *ngIf="!menu.subChild && menu.click" (click)="HandleLogout()">{{ menu.text }}</a>
            <a *ngIf="menu.subChild">{{ menu.text }}</a>
            <ul *ngFor="let subMenu of menu.children; let j = index">
                <li>
                    <a [routerLink]="subMenu.link">{{ subMenu.text }}</a>
                </li>
            </ul>
        </li>
      </ul>    
    </div>
</div>
